version: '3.3'
services:
  mongo:
    image: mongo:latest
    container_name: mongodb
    ports:
      - 27017:27017
    volumes:
      - ./volume/db:/data/db
    environment:
      - MONGO_INITDB_DATABASE=products
    networks:
      - development-network
networks:
 development-network:
   driver: bridge